{% extends "base/base.html" %}
{% block content %}
   
<form method = "POST"> 

    {%csrf_token%}
    <div class="container"></div>
    <div class="container">
        <div class="row">
            <div class="cols-sm">

            </div>
        </div>
        <div class="row">
            <table class="table">
                {{form.as_table}}
            </table>
        </div>

        
        <div class="row">
            <div class="cols-sm"></div>
            <div class="cols-sm"></div>
            <div class="cols-sm">
                <button type="submit" class="btn btn-succes">Guardar</button>
                <a href="" class="btn btn-primary">Cancelar</a>
            </div>
        </div>
    </div>

</form>

{% endblock %}